#!/usr/bin/make -f
# -*- makefile -*-

DEB_PYTHON_SYSTEM := pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

clean::
	rm -rf build build-stamp configure-stamp build/ MANIFEST
	dh_clean

install/python-adapterlib::
	[ -d debian/python-adapterlib/usr/share/doc/python-adapterlib ] || mkdir -p debian/python-adapterlib/usr/share/doc/python-adapterlib
	rst2html README >  debian/python-adapterlib/usr/share/doc/python-adapterlib/README.html
