.DS_Store
.settings
bin
gen
build
*.pyc
*.class
private
velocity.log*
/Source/GortGUIv2/Gort/branding/core
/Source/AppScannerGUI/nbproject/private/
/Source/GortGUI/nbproject/private/
/Source/GortGUI/dist/
/Source/GortGUIv2/GortGUI/nbproject/private/
/Source/GortGUIv2/Gort/nbproject/private/
/Source/GortGUIv2/Gort/grappa/nbproject/private/
/Source/GortGUIv2/Gort/gortproject/nbproject/private/
/Source/GortGUIv2/Gort/apkfile/nbproject/private/
/Source/GortGUIv2/Gort/pythonnbms/nbproject/private/
/Source/GortGUIv2/Gort/gortproject/src/org/cmuchimps/gort/modules/gortproject/templates/SampleGortProjectProject.zip
/Source/GortGUIv2/Gort/gortproject/src/org/cmuchimps/gort/modules/gortproject/templates/EmptyGortProjectProject.zip
/Source/GortGUIv2/Gort/httpmime/nbproject/private/
/Source/GortGUIv2/Gort/hibernate/nbproject/private/
/Source/GortGUIv2/Gort/dataobject/nbproject/private/
/Source/GortGUIv2/Gort/database/nbproject/private/
/Source/GortGUIv2/Gort/sampleapk/nbproject/private/
/Source/GortGUIv2/Gort/progressstatus/nbproject/private/
